body {
  background-color: #eee8cd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.main {   
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 97vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.left-panel {
  width: 200px;
  box-sizing: border-box;
  border-bottom: 8px solid #eee8cd;
  border-right: 8px solid #eee8cd;
}

.empty-panel-left {
  width: 50px;
  border-bottom: 8px solid #eee8cd;
  box-sizing: border-box;
}

.empty-panel-right {
  width: 45px;
  border-bottom: 8px solid #eee8cd;
  box-sizing: border-box;
}

#boardSetup {
  width: 400px;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 8px solid #eee8cd;  
}
 
.board-container {
  display: -webkit-flex;
  display: flex;
  background-color: #ffffff;
  text-align: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.fenStr {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 30px;
  display: -webkit-flex;
  display: flex; 
}

.fenLabel {
  padding: 6px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  margin: auto;
  width: 6.5%;
  background-color: #b4b47a;

}

.fenInput {
  padding: 4px 6px;  
  box-sizing: border-box;
  width: 93.5%;
  margin: auto;
  text-align: left;  
}

.fenEntered {
  font-size: 16px;
  width: 100%;
  color: #8b6241;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.nextMove {
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  background-color: #b4b47a;
  border-bottom: 8px solid #eee8cd;
}

.nextMoveColorPiece {
  vertical-align: middle;
  text-align: center;
  width: 25%;
  height: 45px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 6px;
}

.nextMovePieceIcon {
  width: 30px;
  height: 30px;
}

.castlingRights {
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  background-color: #b4b47a;
  border-bottom: 2px solid #eee8cd;
  height: 45px;  
}

.castlingRightsLabel {
  width: 100%;
  box-sizing: border-box;
  background-color: #b4b47a;
  color: #ffffff;
  font-size: 16px;
  margin: auto;
}

.castlingTypes {
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  background-color: #b4b47a;
  height: 45px;  
}

.castlingTypes:before {
  content:"";
  position: relative;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-right: 2px solid #eee8cd;
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 1px;
}

.castlingTypesLabel {
  width: 50%;
  box-sizing: border-box;
  background-color: #b4b47a;
  color: #ffffff;
  font-size: 16px;
  margin: auto;
}

.whiteCastling {
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 2px solid #eee8cd;
  height: 47px;  
}

.blackCastling {
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 47px;  
}

.whiteCastling:before, .blackCastling:before {
  content:"";
  position: relative;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 50%;
  border-right: 2px solid #eee8cd;
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 1px;
}

.whiteCastlingPieces,
.blackCastlingPieces {
  width: 50%;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: auto;
}
.whiteShortCastlingIcon,
.whiteLongCastlingIcon,
.blackShortCastlingIcon,
.blackLongCastlingIcon { 
  width: 70px;
  height: 32px;
}

.generalOptions, .fenSyntaxCheck, .fenConsistencyCheck {
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  background-color: #b4b47a;
  border-top: 8px solid #eee8cd;
}

.nextMoveLabel, .generalOptionsLabel, .fenSyntaxCheckLabel, .fenConsistencyCheckLabel {
  width: 75%;
  box-sizing: border-box;
  background-color: #b4b47a;
  color: #ffffff;
  font-size: 16px;
  margin: auto; 
}

.fenSyntaxCheckIcon, .fenConsistencyCheckIcon {
  width: 25%;
  height: 45px;
  padding-top: 8px;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: auto;
  font-size: 1.4em;
}

.generalOptionsIcon {
  width: 25%;
  height: 45px;
  padding-top: 8px;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: auto;
  font-size: 1.4em;  
}

.fa-thumbs-down, .fa-question {
  color: #e60000;
}

.fa-thumbs-down:hover {
  color: #cc0000;
}

.fa-thumbs-up {
  color: #8ab92d;
}

.fa-trash-o, .fa-power-off, .fa-undo {
  color: #b68863;
}

.fa-trash-o:hover, .fa-power-off:hover, .fa-undo:hover {
  color: #8b6241;
}

.error-style {
  color: #ff0000;
}